*{
    font-family: "微软雅黑";
}

ul {
    list-style: none;
    margin-bottom: 0;
}
.clearfloat{
    clear: both;
}
.brand{
    width: 102px;
    background: url(../img/chuangke.png) no-repeat;
}
.img-size img{
    width: 1920px;
}
.ck-center{
    padding-top: 50px;
}
.ck-ul{
    width: 100%;
}
.ck-ul li{
    display: inline-block;
}
.ck-ul li a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ck-ul li a img{
    width: 239px;
    display: inline-block;
    overflow: hidden;
}
.ck-ul li a h5{
    display: inline-block;
    text-align: center;
}
.ck-center h2{
    text-align: center;
}
.ck-p{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 18px;
    letter-spacing:2px;
    padding: 15px;
}
.ck-news{
    padding-top: 50px;
}
.ck-news-block p{
    display: inline-block;
}
.left-block,.right-block{
    padding: 15px;
}

.left-a {
    width: 100%;
    height: 350px;
    background: url(../img/Chrysanthemum.jpg) no-repeat;
    background-size:cover;
}
.right-a{
    width: 100%;
    height: 350px;
    background: url(../img/Chrysanthemum.jpg) no-repeat;
    background-size:cover;
}

.block-bottom{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.process-block{
    display: flex;
    justify-content: center;
}

.ck-process{
    margin-top: 100px;
}
.block-bottom a{
    width: 100%;
}
.bottom-a{
    width: 100%;
    height: 350px;
    background: url(../img/abc.jpg) no-repeat;
    background-size:cover;
}
