.ck-matchmessage{
    margin-top: 100px;
}
.match-top .col-md-4 img{
    width: 300px;
}
.match-top .col-md-8{
    padding-top: 35px;
    padding-left: 0px;
}
.match-top .col-md-8 .col-md-9{
    margin-top: 25px;
    font-size: 40px;
    padding-left: 0px;
}
.match-top .col-md-8 .col-md-9 p{
    color: aqua;
    text-align: left;
}
.match-top .col-md-8 .col-md-3{
    text-align: center;
}
.ck-note{
    padding: 15px 0px 10px 130px;
    font-size: 16px;
    color: aqua;
    border-top: 1px solid rgba(30, 185, 239,0.5);
    border-bottom: 1px solid rgba(30, 185, 239,0.5);
}
@media screen and (max-width:500px) {
    .match-top .col-md-8 .col-md-9 p{
        text-align: center;
    }
    .ck-note{
        padding: 15px 0px 10px 15px;
    }
}