.ck-works-show h2{
    height: 100px;
    border-bottom: 1px solid black;
}
.ck-work {
    margin-top: 15px;
}
.ck-work .ck-border img {
    width: 100%;
    border-radius: 5px;
}
.ck-border:hover{
    box-shadow: 5px 5px 8px #888888;
}
.ck-border{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    box-shadow: 0 0 8px #ccc;
}
    
    /* transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1); */

.work-message {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.work-message span {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ck-bottom{
    margin-top: 100px;
    width: 100%;
}
/* .work-message span label {
    display: inline-block;
}

.work-message span p {
    display: inline-block;
} */