
.img-size img {
    width: 1920px;
}

.ck-center {
    padding-top: 50px;
    /* background-color: #f2f2f2; */
}

.ck-ul {
    width: 100%;
}

.ck-ul li {
    display: inline-block;
}

.ck-ul li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ck-ul li a img {
    width: 239px;
    display: inline-block;
    overflow: hidden;
}

.ck-ul li a h5 {
    display: inline-block;
    text-align: center;
}

.ck-center h2 {
    text-align: center;
}

.ck-p {
    font-size: 18px;
    letter-spacing: 1px;
}

.ck-news {
    padding-top: 50px;
}

.ck-news-block p {
    display: inline-block;
}

.left-block,
.right-block {
 
}

.block-bottom {
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: center;
}

.process-block img {
    width: 100%;
}

.ck-process {
    margin-top: 100px;
}

.block-bottom a {
    width: 100%;
}

.bottom-a {
    width: 100%;
}

.news-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(30, 185, 239,0.5);
}

.right-img {
    background-size: cover;
    background: url(../../../Files/Img/Home/apply.jpg) no-repeat center;
    height: 500px;
}

.news-title {
    font-size: 20px;
    padding: 10px;
    overflow: hidden;
}

.news-title div img{
    width: 300px;
}
.news-title div a{
    float: right;
    color: rgb(132, 111, 176);
}
.news-ul {
    padding: 0px;
}

.news-ul li {
   padding: 10px;
   border-top:1px solid rgba(30, 185, 239,0.5);
}
.news-ul li .col-md-3 img{
    width: 80px;
}
.news-ul li .col-md-9 a p{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ck-apply div img{
    margin-left: 10px;
    width: 300px;
}
.process-block div .col-md-2{
    margin-top: 15px;
    text-align: center;
}
.process-block div .col-md-2 div{
    border-radius: 15px;
    box-shadow: 5px 10px 2px #888888;
    border: 1px solid #888888;
    width: 95%;
}
.process-block div .col-md-2 div img{
    width: 100%;
}
.process-block div .col-md-2 div p{
    text-align: center;
}