@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MySection{ 
<link href="~/Content/Css/News/news.css" rel="stylesheet" />
}
<div class="ck-head">
    <img src="../Files/head-02.png" alt="首图">
</div>


