<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/Css/Shard/layout.css" rel="stylesheet" />
    @RenderSection("MySection", required: false)
</head>

<body>
    <div class="container">
        <div class="ck-top">
            <div class="ck-nav">
                <nav class="navbar navbar-default " role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand brand" href="#"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="example-navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="active">
                                    <a href="../../home/index">首页</a>
                                </li>
                                <li>
                                    <a href="../../match/match">赛程须知</a>
                                </li>
                                <li>
                                    <a href="../../match/apply">报名通道</a>
                                </li>
                                <li>
                                    <a href="../../match/works">参赛作品</a>
                                </li>
                                <li>
                                    <a href="../../news/news">资讯动态</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="../../person/person">个人中心</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal">注册</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal-1">登录</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="ck-bottom">
        <div class="footer">
            <div class="col-md-3">
                <div class="ck-qrcode">
                    <img src="../../Files/Chrysanthemum.jpg" alt="创客二维码">
                    <p>扫一扫关注微信公众号</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ck-footermessge">
                    <p>南京市龙文教育有限公司</p>
                    <p>主管：南京市教育局 &nbsp;主办：南京市电化教育馆&nbsp;<a class="link link-white" href="http://www.miibeian.gov.cn/">苏ICP备XXXXXXXXXX号-1</a></p>
                    <p>技术支持：南京市临界风行科技有限公司&nbsp; Copyright © 2018 All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ck-attention">
                    <img src="../../Files/Chrysanthemum.jpg" alt="新浪微博">
                    <img src="../../Files/Chrysanthemum.jpg" alt="微信">
                </div>
                <div class="ck-us">
                    <p>关注我们</p>
                </div>
            </div>
            <div class="clearfloat">
            </div>
        </div>
    </div>
    <!-- 注册模态框 -->
    <div class="modal fade ck-m" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <div class="modal-title" id="myModalLabel-1">
                        <div class="loginimg">
                            <img src="../../Files/Img/Match/match-2.png" alt="">
                        </div>
                        <h4>创客用户注册</h4>
                    </div>
                </div>
                <!-- <div class="modal-body">
                       用户注册
                    </div> -->
                <div class="modal-footer">
                    <form class="form-horizontal" role="form" id="form1">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control required" id="email" name="email" placeholder="邮箱地址：">
                    
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control required" id="password" name="password" placeholder="设置密码：">
         
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkpassword" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control required" id="checkpassword" name="checkpassword" placeholder="确认密码：">

                            </div>
                        </div>
                        <div class="form-group ck-vcode">
                            <label for="vcode" class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-9">
                                <img class="ck-code col-sm-4" src="../../Files/code.png" alt="验证码">
                                <input type="text" class="form-control required col-sm-8" id="vcode" name="vcode" placeholder="验证码：">

                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-primary" id="submit" onclick="abc()">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 登录模态框 -->
    <div class="modal fade ck-m" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <div class="modal-title" id="myModalLabel-1">
                        <div class="loginimg">
                            <img src="../../Files/Img/Match/match-2.png" alt="">
                        </div>
                        <h4>创客用户登录</h4>
                    </div>
                </div>
                <!-- <div class="modal-body">
                       用户登录
                    </div> -->
                <div class="modal-footer">
                    <form class="form-horizontal" role="form" id="form-1">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control required" id="email-1" name="email" placeholder="邮箱地址：">
            
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control required" id="password-1" name="password" placeholder="密码：">
     
                            </div>
                        </div>
                        <div class="form-group ck-vcode">
                            <label for="vcode" class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-9">
                                <img class="ck-code col-sm-4" src="../../Files/code.png" alt="验证码">
                                <input type="text" class="form-control required col-sm-8" id="vcode-1" name="vcode" placeholder="验证码：">
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-offset-2 col-sm-8">
                                <a class="btn btn-large btn-block btn-danger forgotpassword" href="../../person/forgotpassword" role="button">忘记密码</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-1">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-primary" id="submit-1" onclick="abc()">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="~/Content/Script/Shard/layout.js"></script>
    @RenderSection("MySection1", required: false)
</body>

</html>
