.secondmatch{   
    display: none
}
.workname{
    font-size: 35px;
}
.ck-workmessage{
    margin-top: 100px;
}
.leftmessage{
    width: 50%;
}
.rightmessage{
    width: 50%;
}
.ck-workshow{
    margin-top: 100px;
}
.ck-student{
    margin-top: 240px;
    padding-left: 0px;
}
.rightmessage{
    margin-top: 20px;
    text-align: center;
}
.rightmessage button{
    width: 30%;
    margin:0 auto;
}
.ck-workmessage{
    border: 1px solid red;
    padding: 10px;
}
.firstmatch,.secondmatch{
    background-color: #E6E6E6;
    margin-top: 50px;
}

.ck-student li{
    margin-top: 15px;
    border: 1px solid red;
    padding: 15px 0px 15px 0px;
}
.ck-workshow div:first-child{
    border: 1px solid red;
    display: inline-block;
    height: 50px;
    font-size: 25px;
    padding: 5px;
}
.ck-poll img{
    width: 300px;
}
.student-img{
    text-align: center;
}
.student-img img{
    width: 100px;
}
.student-name{
    text-align: center;
}
.student-name div{
    margin-top: 15px;
    width: 100%;
}
.student-name div p{
 display: inline-block;
}
@media screen and (max-width: 500px){
    .rightmessage{
        width: 100%;
    }
    .ck-student{
        margin-top: 50px;
    }
}