@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MySection{
    <link href="~/Content/Css/Person/person.css" rel="stylesheet" />
}
@section MySection1{
    <script src="~/Content/Script/Person/pserson.js"></script>
}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-5 head">
                <div class="head-ico">
                    <img src="../../Files/ico/man.png" alt="男女">
                </div>
                <h2>李四</h2>
                <p>C五年级2班</p>
            </div>
            <div class="col-md-7 ck-head-right">
                <div class="ck-ad">
                </div>
                <button type="button" class="btn btn-large btn-block btn-success">编辑资料</button>
            </div>
        </div>
    </div>
    <div class="ck-studentmessage">
        <div class="ck-samllnav">
            <ul>
                <li class="col-md-4 "><a href="#">个人资料</a></li>
                <li class="col-md-4"><a href="#">报名资料</a></li>
                <li class="col-md-4"><a href="#">参赛作品</a></li>
                <div class="clearfloat"></div>
            </ul>
        </div>
        <div class="first-li li-style">
            <form action="" method="POST" class="form-inline" role="form">
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">姓名</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">性别</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">身份证</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">出生日期</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">邮箱</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">手机号</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">学号</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">入学年份</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="clearfloat">

                </div>
            </form>
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
        <div class="second-li li-style">
              <form action="" method="POST" class="form-inline" role="form">
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">姓名</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">性别</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">身份证</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">出生日期</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">邮箱</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div> 
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">手机号</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">学号</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">入学年份</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only" for="">任课学段</label>
                    <input type="email" class="form-control" id="" placeholder="Input field">
                </div>
                                <div class="clearfloat">

                </div>
            </form>
             <button type="submit" class="btn btn-primary">提交</button>
        </div>
        <div class="third-li li-style">

        </div>
    </div>
</div>


