@{
    ViewBag.Title = "个人中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MySection{
    <link href="~/Content/Css/Person/person.css" rel="stylesheet" />
}
@section MySection1{
    <script src="~/Content/Script/Person/pserson.js"></script>
}
<div class="container ck-background">
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-5 head">
                <div class="head-ico">
                    <img src="../../Files/ico/man.png" alt="男女">
                </div>
                <h2>李四</h2>
                <p>C五年级2班</p>
            </div>
            <div class="col-md-7 ck-head-right">
                <div class="ck-ad">
                </div>
                <button type="button" class="btn btn-large btn-block btn-success">编辑资料</button>
            </div>
        </div>
    </div>
    <div class="ck-studentmessage">
        <div class="ck-samllnav">
            <ul class="nav nav-tabs nav-justified">
                <li class="col-md-3 active"><a href="javascript:void(0);" onclick="changefirstli()">个人资料</a></li>
                <li class="col-md-3"><a href="javascript:void(0);" onclick="changesecondli()">报名资料</a></li>
                <li class="col-md-3"><a href="javascript:void(0);" onclick="changethirdli()">上传作品</a></li>
                <li class="col-md-3"><a href="javascript:void(0);" onclick="changefourthli()">参赛作品</a></li>
                <div class="clearfloat"></div>
            </ul>
        </div>
        <div class="first-li li-style">
            <form action="" method="POST" class="form-inline" role="form">
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">姓名</label>
                    <input type="name" class="form-control" id="name" placeholder="姓名" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">性别</label>
                    <select id="sex" class="form-control" disabled="disabled">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">身份证</label>
                    <input type="id" class="form-control" id="Idcard" placeholder="身份证" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">出生日期</label>
                    <input type="date" class="form-control" id="birthdate" placeholder="出生日期" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">邮箱</label>
                    <input type="email" class="form-control" id="email1" placeholder="邮箱" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">手机号</label>
                    <input type="telnumber" class="form-control" id="number" placeholder="手机号" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">学段</label>
                    <input type="text" class="form-control" id="schoollevel" placeholder="学段" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">学号</label>
                    <input type="text" class="form-control" id="schoolnumber" placeholder="学号" readonly="readonly">
                </div>
                <div class="form-group col-md-6">
                    <label class="ck-lable" for="">入学年月</label>
                    <input type="date" class="form-control" id="schooldate" placeholder="入学年份" readonly="readonly">
                </div>
                <div class="clearfloat">

                </div>
            </form>
            <button type="submit" class="btn btn-primary ck-submit-1">保存</button>
        </div>
        <div class="second-li">
            <div class="ck-apply">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">地区</label>
                        <select class="form-control">
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">学段</label>
                        <select class="form-control">
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">学校</label>
                        <select class="form-control">
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">比赛项目</label>
                        <select class="form-control">
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                            <option>市直属</option>
                        </select>
                    </div>
                    <div class="form-group ck-student">
                        <label class="ck-lable" for="">学生姓名</label>
                        <input type="text" class="form-control ck-studentinput" placeholder="学生姓名">
                        <input type="text" class="form-control ck-studentinput" placeholder="学生姓名">
                        <a href="javascript:void(0);" onclick="plusstudent()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0);" onclick="minusstudent()">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="ck-lable" for="">指导老师</label>
                        <input type="text" class="form-control ck-studentinput" placeholder="指导老师">
                        <input type="text" class="form-control ck-studentinput" placeholder="指导老师">
                        <a href="javascript:void(0);" onclick="plusteacher()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0);" onclick="minusteacher()">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="ck-lable" for="">教师电话</label>
                        <input type="text" class="form-control" id="teachernumber" placeholder="教师电话">
                    </div>
                    <div class="ck-submit">
                        <button type="submit" class="btn btn-defaul">报名</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="third-li li-style">
            <div class="match-1">
                <div class="third-title">
                    <p>文章标题：</p>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    </div>
                </div>
                <div class="third-img">
                    <p>文章图片</p>
                    <div>

                    </div>
                </div>
                <div class="third-text">
                    <!-- 文本插件 -->
                </div>
                <button type="button" class="btn btn-success">button</button>
            </div>
            <div class="match-2">
                <div class="third-title">
                    <p>文章标题：</p>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    </div>
                </div>
                <div class="third-img">
                    <p>文章图片</p>
                    <div>

                    </div>
                </div>
                <div class="third-text">
                    <!-- 文本插件 -->
                </div>
                <button type="button" class="btn btn-success">button</button>
            </div>
        </div>
        <div class="forth-li li-style">
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
            <p>333333333333</p>
        </div>
    </div>
</div>


