@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MySection{
    <link href="~/Content/Css/Home/home.css" rel="stylesheet" />
}

@section MySection1{
    <script src="~/Content/Script/Home/home.js"></script>
}
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
<script>


</script>
<div class="ck-head-Img">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active img-size">
                <img src="../../Files/Img/Layout/bananer-1.jpg" alt="图片1">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item img-size">
                <img src="../../Files/Img/Layout/bananer-2.jpg" alt="图片2">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item img-size">
                <img src="../../Files/Img/Layout/bananer-3.jpg" alt="图片3">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item img-size">
                <img src="../../Files/Img/Layout/bananer-4.jpg" alt="图片4">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>  -->
    </div>
</div>


<div class="container ck-background">
    <div class="ck-center">
        <div class="ck-news">
            <!-- <h2>资讯动态</h2>
            <p class="ck-p">
                南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、 南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、 创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。
            </p> -->
            <div class="ck-news-block">
                <div class="block-top col-md-12">
                    <div class="left-block col-md-6">
                        <div class="news-block">
                            <div class="news-title">
                                <div>
                                    <img src="../../Files/Img/Home/matchnews.png" alt="比赛资讯">
                                </div>
                                <div>
                                    <a href="../../news/news">
                                        更多...
                                    </a>
                                    <div class="clearfloat"></div>
                                </div>
                            </div>
                            <ul class="news-ul">
                                <li>
                                    <div class="col-md-3">
                                        <img src="../../Files/Chrysanthemum.jpg" alt="图片1">
                                    </div>
                                    <div class="col-md-9">
                                        <a>
                                            <p>南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、 南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、 创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。</p>
                                        </a>
                                    </div>
                                    <div class="clearfloat"></div>
                                </li>
                                <li>
                                    <div class="col-md-3">
                                        <img src="../../Files/Chrysanthemum.jpg" alt="图片1">
                                    </div>
                                    <div class="col-md-9">
                                        <a>
                                            <p>南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、 南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、 创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。</p>
                                        </a>
                                    </div>
                                    <div class="clearfloat"></div>
                                </li>
                                <li>
                                    <div class="col-md-3">
                                        <img src="../../Files/Chrysanthemum.jpg" alt="图片1">
                                    </div>
                                    <div class="col-md-9">
                                        <a>
                                            <p>南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、 南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、 创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。</p>
                                        </a>
                                    </div>
                                    <div class="clearfloat"></div>
                                </li>
                                <li>
                                    <div class="col-md-3">
                                        <img src="../../Files/Chrysanthemum.jpg" alt="图片1">
                                    </div>
                                    <div class="col-md-9">
                                        <a>
                                            <p>南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、 南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、 创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。</p>
                                        </a>
                                    </div>
                                    <div class="clearfloat"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-block col-md-6">
                        <a href="../../match/apply">
                            <div class="right-img news-block">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="block-bottom col-md-12">
                    <a href="#">
                        <img class="bottom-a" src="../Files/abc.jpg" alt="资讯">
                    </a>
                </div> -->
                <div class="clearfloat">
                </div>
            </div>
        </div>
        <div class="ck-process">
            <!-- <h2>报名流程</h2>
            <p class="ck-p">
                南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。
            </p> -->
            <div class="col-md-4 ck-apply">
                <div>
                    <img src="../../Files/Img/Home/aaplyprocess.png">
                </div>
            </div>
            <div class="process-block col-md-8">
                <p class="ck-p">
                    南京市第二届届中小学创客大赛活动是由南京市教育局为主办，南京市电化教育馆（南京市教育信息化中心）、南京市教学研究室、南京市教育装备与勤工俭学办公室作为此次大赛的承办单位，旨在推动我市中小学创客教育的发展，提升学生动手能力、创新能力以及科技素养等综合素质水平的一项中小学创客教育应用及展示的活动。
                </p>
                <div>
                    <div class="col-md-2">
                        <div>
                              <img src="../../Files/Img/Home/Icon-1.png" alt="注册">
                              <P>注册</P>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                             <img src="../../Files/Img/Home/Icon-2.png" alt=报名>
                             <p>报名</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                               <img src="../../Files/Img/Home/Icon-3.png" alt="关注公众号">
                                <p>关注公众号</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                               <img src="../../Files/Img/Home/Icon-4.png" alt="获取邀请码">
                               <P>获取邀请码</P>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <img src="../../Files/Img/Home/Icon-5.png" alt="填写作品信息">
                            <p>填写作品信息</p>
                        </div>                      
                    </div>
                    <div class="col-md-2">
                        <div>
                              <img src="../../Files/Img/Home/Icon-6.png" alt="上传作品">
                              <p>上传作品</p>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                </div>
            </div>
            <div class="clearfloat">
            </div>
        </div>
    </div>
</div>