@{
    ViewBag.Title = "比赛须知";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MySection{
    <link href="~/Content/Css/Match/match.css" rel="stylesheet" />
}
<div class="ck-head">
    <img src="../../Files/Img/Match/match-head.png" alt="首图">
</div>

<div class="container ck-background">
    <div class="ck-matchmessage">
        <div class="match-top">
            <div class="col-md-4">
                <img src="../../Files/Img/Match/match-1.png" alt="赛程须知">
            </div>
            <div class="col-md-8">
                <div class="col-md-3">
                    <img src="../../Files/Img/Match/match-2.png" alt="赛程须知">
                </div>
                <div class="col-md-9">
                    <p>
                        第一届雨花区创客大赛
                    </p>
                </div>
                <div class="clearfloat"></div>
            </div>
            <div class="clearfloat"></div>
        </div>
        <div class="ck-matchconent">
            <div class="ck-note">
                <p>欢迎大家来到创客大赛，请大家注意以下事项:</p>
            </div>
            <div class="ck-text">
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>
                <p>1111111111</p>                
            </div>
        </div>
    </div>
</div>

