@{
    ViewBag.Title = "比赛作品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MySection{
    <link href="~/Content/Plugin/pageBar/pageBar.css" rel="stylesheet" />
    <link href="~/Content/Css/Match/works.css" rel="stylesheet" />

}
@section MySection1{
    <script src="~/Content/Plugin/pageBar/pageBar.js"></script>
    <script src="~/Content/Script/Match/works.js"></script>
}
<div class="ck-head">
    <img src="../../Files/Img/Match/match-3.jpg" alt="参赛作品">
</div>

<div class="container ck-background">
    <div class="ck-works-show">
        <div class="ck-worksimg">
            <div class="col-md-8">
                <img src="../../Files/Img/Match/studentworks.png" alt="参赛作品">
            </div>
            <div class="col-md-4">
                <img src="../../Files/Img/Match/match-4.png">
                <p>作品排列</p>               
                <select class="form-control">
                    <option>按得票数</option>
                    <option>按时间顺序</option>
                </select>
            </div>
            <div class="clearfloat"></div>
        </div>
        <ul class="col-md-12" id="ck-works">
            <li class="col-md-3 ck-work" id="ck-work1">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work2">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work3">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work4">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work5">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work6">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work7">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-md-3 ck-work" id="ck-work8">
                <div class="ck-border">
                    <img src="../Files/Chrysanthemum.jpg" alt="学生作品">
                    <div class="work-message">
                        <span>
                            <label>作品名:</label>
                            <p>大风车</p>
                        </span>
                        <span>
                            <label>学生:</label>
                            <p>王五 </p>
                        </span>
                        <span>
                            <label>票数：</label>
                            <p>111111</p>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="ck-pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>


