.ck-newcontent{
    width: 100%;
}
.ck-smallmassage span:first-child{
    padding-right: 15px;
}
.ck-newtop{
    width: 100%;
    text-align: center;
}
.ck-newbottom{
    margin-top: 25px;
    text-align: center;
}