.ck-newslist {
    margin-top: 80px;
    padding-left: 80px;
}
.ck-newsimg{
    border-bottom: 1px solid rgba(30, 185, 239,0.5);
}
.ck-newslist li {
    width: 100%;
    padding-bottom: 25px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.ck-time {
    width: 100px;
    height: 90px;
    background-color: #999999;
}

.ck-time span {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.ck-time span:first-child {
    font-size: 25px;
    color: red;
    margin-top: 15px;
}

.ck-time span:last-child {}

.ck-newslist li .col-md-10 p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ck-newslist li .col-md-10 p:first-child {
    margin-top: 15PX;
    font-size: 25PX;
}

.ck-newsimg img {
    width: 300px;
}

@media screen and (max-width: 500px) {
    .ck-newslist li .col-md-10 {
        padding-left: 0px;
    }
    .ck-newslist {
        padding-left: 0px;
    }
}