ul{
    padding-left: 0px;
}
.ck-png{
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}
.ck-fail{
    background: url(../../../Files/ico/fail.png) no-repeat center;

}
.ck-success{
    background: url(../../../Files/ico/success.png) no-repeat center;
}
.person-top{
    margin-top: 60px;
    border: 1px solid black;
}
.person-top li{
   text-align: center;
}
.ck-input{
    height: 545px;
}
.ck-form{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.ck-form span{
    display: inline-block;
    font-size: 20px;
}
.ck-form button{
    width: 50%;
    margin: 0 auto;
}
.ck-form input{
    margin-top: 15px;
    margin-bottom: 15px;    
}
.person-top li div div{
    width: 32px;
    height: 32px;
    background-size:cover;
    display: inline-block;
}
.person-top li:first-child div p{
    color: rgb(18, 150, 219);
}
.person-top li div p{
    font-size: 25px;
}
.first-png{
    background: url(../../../Files/ico/1-.png) no-repeat center;
}
.second-png{
    background: url(../../../Files/ico/2-.png) no-repeat center;
}
.third-png{
    background: url(../../../Files/ico/3-.png) no-repeat center;
}

.ck-input li:nth-child(2){
    display:none;
}
.ck-input li:nth-child(3){
    display:none;
}
.ck-input{
    padding-top: 25px;
    padding-bottom: 25px;    
}
.ck-modal{
    text-align: center;
}
.ck-png{
    display: inline-block;
}
.modal-content div p{
    display: inline-block;
}