.head-ico {
    width: 150px;
    height: 150px;
    background: url(../../../Files/Chrysanthemum.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.head-ico img {
    position: absolute;
    top: 85%;
    left: 85%;
    z-index: 99;
}

.head {
    text-align: center;
}

.ck-ad {
    width: 100%;
    height: 200px;
}

.ck-head-right button {
    margin: 0 auto;
    width: 30%;
}

.ck-samllnav ul {
    padding: 0;
}

.ck-samllnav ul li {
    padding: 10px;
    text-align: center;
}

.ck-samllnav ul li a:hover {
   color: blue;
}

.ck-samllnav ul li a {
    width: 70%;
    font-size: 25px;
    color: brown;
    border-bottom: 1px solid aqua;
    display: inline-block;
}

.li-style {
    margin-top: 100px;
    width: 100%;
    padding: 15px 15% 15px 15%;
    text-align: center;
    border: 1px solid black;
}

.second-li {
    display: none;
    padding: 0px 50px 0px 50px;
}

.third-li {
    display: none;
}

.ck-lable {
   width:60px; 
}
.li-style .form-group {
    margin-top: 20px;
}
#sex{
    width: 47%;
}
/* .form-group label{
   width: 0px;
} */

/* select{
    display: inline-block;
    width: 48%;
    height: 34px;
} */
/* .second-li form .form-group input{
    width: 80%;
} */
.ck-poll img{
    width: 300px;
}
@media screen and (max-width:777px) {
    .ck-m  .col-sm-2{
        float: left;
    }
    .ck-vcode .form-control{
        width: 100%;
    }
    .ck-m .form-group {
        height: 80px;
    }
}